body {
    background: #444;
    font-family: helvetica;
    font-size: 10px;
    cursor: hand;
    margin: 10px;
}

.clipswitcher {
    fill: #333;
    stroke: #aaa;
}

.clipswitcher .button {
    fill: #666;
    stroke: #aaa;
}

.clipswitcher .label {
    stroke: none;
    fill: #aaa;
}

.sequencer {
    fill: #333;
    stroke: #aaa;
}

.sequencer .step {
    fill: #faa;
    stroke: none;
}

.sequencer .clock {
    fill: #afa;
    stroke: none;
}

.automation {
    fill: #333;
    stroke: #aaa;
}

.automation .label { 
    stroke: none;
    fill: #aaa;
}

.automation .step { 
    fill: #faa;
    stroke: none;
    opacity: 1;
}

.automation .clock { 
    fill: #999;
    stroke: none;
}

.slider { 
    fill: #333;
    stroke: #aaa;
}

.slider .label { 
    stroke: none;
    fill: #aaa;
}

.slider .handle { 
    stroke: none;
    fill: #aaa;
    opacity: 0.5;
}


.menu { 
    fill: #333;
    stroke: #aaa;
}

.menu .label { 
    stroke: none;
    fill: #aaa;
}

.menu .button { 
    stroke: #aaa;
    fill: #333;    
}

.menu .button .label { 
    stroke: none;
    fill: #aaa;    
    font-size: 10px;
}
