html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}

img, body, html {
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}

body {
    line-height: 1.5;
    font-family: Lucida Grande;
    background: #444;
    color: white;
    font-family: arial, sans-serif;
    font-size: 80%;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    overflow: hidden;
}

.menu a {
    float: left;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    margin: 10px;
}

.console { 
    display: none;
    height: 200px; 
    width: 800px;
    color: white;
    overflow: auto;
}

.instrument {
    border: 1px solid #999;
    margin-top: 20px;
    width: 160px;
    float: left;
    overflow: hidden;
}

.instrument .clips {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px;
}

.instrument td {
    background: #666;
    border: 1px solid #333;
}

.instrument .clips a {
    display:block;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.instrument .clips a:visited {
    color: white;
}

.instrument .clips a.active {
    background: white;
    color: black;
}

.sequencer {
    width: 160px;
    height: 160px;
}

.sequencer .step {
    fill: #d99;
    stroke: none;
}

.sequencer .clock {
    fill: #afa;
    stroke: none;
}

.automation {
    width: 160px;
    height: 80px;
    border-top: 1px solid #ccc;
}

.slider-switcher {
    width: 640px;
    background: #666;
    border: 1px solid #333;
    border-collapse: collapse;
}

.slider-switcher td {
    background: #666;
    border: 1px solid #333;
    cell-spacing: 0px;
}

.slider-switcher a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    font-size: 10px;
    color: white;
    font-weight: bold;
}

.slider-switcher a:visited {
    color: white;
}

.slider-switcher a.active {
    background: white;
    color: black;
}

.slider {
    width: 160px;
    height: 40px;
    border-top: 1px solid #ccc;
}

.slider .label { 
    font-size: 12px;
    stroke: none;
    fill: #ccc;
}

.slider .handle { 
    stroke: none;
    fill: #ccc;
    opacity: 0.5;
}