html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}

img, body, html {
    border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}

body {
    line-height: 1.5;
    font-family: Lucida Grande;
    background: #444;
    color: white;
    font-family: arial, sans-serif;
    font-size: 80%;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.menu {
    overflow: hidden;
}

.menu a {
    float: left;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid white;
    margin: 10px;
}

.console { 
    display: none;
    height: 200px; 
    width: 800px;
    color: white;
    overflow: auto;
}

.instrument {
    border: 1px solid #999;
    margin-top: 20px;
    width: 160px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.instrument .clips {
    overflow: hidden;
}

.instrument .clips a {
    float: left;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 0px;
    width: 19px;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.instrument .clips a:visited {
    color: white;
}

.instrument .clips a.active {
    background: white;
    color: black;
}

.sequencer {
    width: 160px;
    height: 160px;
}

.automation {
    width: 160px;
    height: 80px;
    border-top: 1px solid #ccc;
}

.slider {
    width: 160px;
    height: 40px;
    border-top: 1px solid #ccc;
}
